/* CREDIT CARD ARTWORK */

// TODO: Remove Fitpay's awful rounded corners and use CSS instead
// This requires some changes since padding on the image to allow for
// the background grey circle is breaking how the radius works on the
// image...

// TODO: Add minor customizations to font in card art (enlarge, etc.)
.fpg-card-art {
    background: url( '../img/bg-circle.svg' ) no-repeat center center;
    background-size: 53vw;
    padding: 9vw 0;
    width: 59vw;
}
