/*
** WALLET ACCESS PAGE
** The PIN pad page that should never be seen by
** a Token user, but styled just in case...
*/

.pin-pad {
    li {
        float: none;
        width: auto;

        a.pin-pad-key {
            width: 28vw;
            height: 13vh;
            line-height: 13vh;
        }
    }
}
